@charset "utf-8";

/* ==========ここからリセットCSS============= */
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
	 * 1. Correct the line height in all browsers.
	 * 2. Prevent adjustments of font size after orientation changes in iOS.
	 * 3. Remove gray overlay on links for iOS.
	 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
	 * Remove the margin in all browsers.
	 */

body {
  margin: 0;
}

/**
	 * Render the `main` element consistently in IE.
	 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
	 * 1. Add the correct box sizing in Firefox.
	 * 2. Show the overflow in Edge and IE.
	 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
	 * Remove the gray background on active links in IE 10.
	 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
	 * 1. Remove the bottom border in Chrome 57-
	 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	 */

abbr[title] {
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
	 * Add the correct font weight in Chrome, Edge, and Safari.
	 */

b,
strong {
  font-weight: bolder;
}

/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
	 * Add the correct font size in all browsers.
	 */

small {
  font-size: 80%;
}

/**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */

/**
	 * Prevent vertical alignment issues.
	 */

img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
	 * Reset form fields to make them styleable
	 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
	 * Reset radio and checkbox appearance to preserve their look in iOS.
	 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
	 * Show the overflow in IE.
	 * 1. Show the overflow in Edge.
	 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
	 * Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
	 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
	 * Correct the inability to style clickable types in iOS and Safari.
	 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
	 * Remove the inner border and padding in Firefox.
	 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
	 * Restore the focus styles unset by the previous rule.
	 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
	 * Remove arrow in IE10 & IE11
	 */

select::-ms-expand {
  display: none;
}

/**
	 * Remove padding
	 */

option {
  padding: 0;
}

/**
	 * Reset to invisible
	 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
	 * 1. Correct the text wrapping in Edge and IE.
	 * 2. Correct the color inheritance from `fieldset` elements in IE.
	 * 3. Remove the padding so developers are not caught out when they zero out
	 *    `fieldset` elements in all browsers.
	 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
	 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
	 */

progress {
  vertical-align: baseline;
}

/**
	 * Remove the default vertical scrollbar in IE 10+.
	 */

textarea {
  overflow: auto;
}

/**
	 * Correct the cursor style of increment and decrement buttons in Chrome.
	 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
	 * 1. Correct the outline style in Safari.
	 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
	 * Remove the inner padding in Chrome and Safari on macOS.
	 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
	 * 1. Correct the inability to style clickable types in iOS and Safari.
	 * 2. Change font properties to `inherit` in Safari.
	 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
	 * Clickable labels
	 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
	 * Add the correct display in Edge, IE 10+, and Firefox.
	 */

details {
  display: block;
}

/*
	 * Add the correct display in all browsers.
	 */

summary {
  display: list-item;
}

/*
	 * Remove outline for editable content.
	 */

[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */

/**
	 * Add the correct display in IE 10+.
	 */

template {
  display: none;
}

/**
	 * Add the correct display in IE 10.
	 */

[hidden] {
  display: none;
}

/* ============================================ */
/* ======================body====================== */
body {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
<<<<<<< HEAD
=======

 
>>>>>>> origin/master
}

/* ======================header====================== */
header {
<<<<<<< HEAD
  width: 100%;
=======
  width:100%;
>>>>>>> origin/master
  margin: 0 auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 4;
<<<<<<< HEAD

  #wrap {
=======
  

  #wrap{
>>>>>>> origin/master
    max-width: 1360px;
    position: relative;
    top: 0;
    z-index: 7;
    background-color: #fff;
<<<<<<< HEAD
    margin: 0 auto;
    height: 130px;
    #top_logo {
      height: 40px;
      color: #333;
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      top: 40px;
      left: 40px;
      z-index: 5;
    }
    #menu {
      width: 100%;
      height: 1px;

      .nav_bg {
        background: #333;
        opacity: 0;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        position: absolute;
        width: 100vw;
        height: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 7;
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
        pointer-events: none;
      }
      .nav {
        height: 300px;
        width: 300px;
        left: -300px;
        top: 25px;
        margin-right: calc(50% - 50vw);
        margin-left: calc(50% - 50vw);
        position: absolute;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        z-index: 9;

        ul {
          margin: 0;
          padding: 0;

          li {
            height: 30px;
            line-height: 50px;
            list-style-type: none;
            font-size: 0.875rem;
            text-align: center;

            a {
              display: block;
              text-decoration: none;
              color: #fff;
            }
          }
=======
     margin: 0 auto;
    height: 150px;
      #top_logo {
        height: 40px;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 5;
      }
      #menu{
        width: 100%;
        height: 1px;
        
        .nav_bg {
          background: #333;
          opacity: 0;
          -webkit-transition: 0.1s;
          transition: 0.1s;
          position: absolute;
          width: 100vw;
          height: 100vw;
          top:0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 7;
          margin-right: calc(50% - 50vw);
          margin-left: calc(50% - 50vw);
          pointer-events: none;
         
          
        }
        .nav {
          height: 300px;
          width: 300px;
          left: -300px;
          top: 25px;
          margin-right: calc(50% - 50vw);
          margin-left: calc(50% - 50vw);
          position: absolute;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          z-index: 9;
      
          ul {
            margin: 0;
            padding: 0;
      
            li {
              height: 30px;
              line-height: 50px;
              list-style-type: none;
              font-size: 0.875rem;
              text-align: center;
      
              a {
                display: block;
                text-decoration: none;
                color: #fff;
              }
            }
          }
        }
        .fadein_bg {
          opacity: 0.8;
          pointer-events: auto;
         
        }
        .fadein {
          -webkit-transform: translateX(300px);
          transform: translateX(300px);
>>>>>>> origin/master
        }
      
      }
<<<<<<< HEAD
      .fadein_bg {
        opacity: 0.8;
        pointer-events: auto;
      }
      .fadein {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
      }
    }
=======
      
    

       /* hamburger_line */
  #target {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 10 ;
>>>>>>> origin/master

    /* hamburger_line */
    #target {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 25px;
      right: 40px;
      cursor: pointer;
      display: block;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      z-index: 10;

<<<<<<< HEAD
      .target_inner {
        width: 30px;
        height: 30px;
        position: relative;
      }
      .target_inner_line {
        display: block;
        width: 30px;
        height: 2px;
        background: #333;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-radius: 50px;
        position: absolute;
      }

      .target_inner_1 {
        top: 0;
      }

      .target_inner_2 {
        top: 10px;
      }
    }
=======
    .target_inner_2 {
      top: 10px;
    }
  }
>>>>>>> origin/master
  }
  /* ハンバーガーメニューの動き */
  .linea {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px !important;
    background-color: #ffffff !important;
  }

  .lineb {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 10px !important;
    background: #ffffff !important;
  }
<<<<<<< HEAD
}
=======
}  
>>>>>>> origin/master
/* ======================menu====================== */

/* ======================main====================== */
main {
  ul {
    max-width: 1360px;
    margin: 150px auto 0 auto;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    dl {
      width: 23%;
      column-gap: auto;
      dt {
        margin-bottom: 10px;
        &:hover {
          background-color: #fff;
          opacity: 0.5;
          transition: 0.5s;
        }
        img {
          box-sizing: inherit;
          width: 100%;
          height: auto;
        }
      }
      dd {
        font-size: 12px;
        height: 15px;
        line-height: 15px;
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
  #view_more {
    font-size: 15px;
    display: block;
    text-align: center;
  }
}

/* ======================footer====================== */
footer {
  max-width: 1360px;
  margin: 100px auto 0 auto;
  padding: 0 40px 0 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  ul {
    display: flex;
    justify-content: left;
    font-size: 12px;
    li {
      margin-left: 20px;
    }
  }
  p {
    font-size: 10px;
  }
}

/* ============================================ */
/* ======================item1_top====================== */
.item_content {
  max-width: 1360px;
  margin: 0 auto;
  h3 {
    margin-left: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 14px;
  }

  .item_content_box {
    width: 800px;
    display: flex;
    justify-content: left;
    margin-right: 40px;

    .item_content_left {
      margin-left: 40px;
      width: 400px;
      img {
        width: 400px;
      }
    }
    .item_content_right {
      width: 400px;
      padding-left: 50px;
      text-align: left;
      p {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 20px;
      }

      ul {
        flex-direction: column;
        margin-top: 40px;
        width: 350px;
        padding: 0;

        dl {
          display: flex;
          justify-content: left;
          height: 20px;
          line-height: 20px;
          dt {
            width: 150px;
            font-size: 14px;
          }
          dd {
            width: 200px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .back_to_products {
    display: block;
    text-align: center;
    margin-top: 60px;
    font-size: 14px;
  }
}

/* ============================================ */
/* ======================products_top====================== */
#products_box {
  max-width: 1360px;
  margin: 140px auto 0 auto;

  p {
    font-size: 14px;

    margin-left: 40px;
  }
  ul {
    margin-top: 20px;
  }
  #index1 {
    text-align: center;
    margin-left: 0;

    span {
      margin-left: 50px;
    }
  }
}

/* ============================================ */
/* ======================about_top====================== */
#about_box {
  max-width: 1360px;
  margin: 0 auto;

  #about_top {
    max-width: 600px;
    margin-top: 140px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    #about_content {
      margin-top: 30px;
      margin-bottom: 150px;
      p {
        margin-bottom: 20px;
        line-height: 25px;
      }
    }
  }
}
/* ============================================ */
/* ======================company_top====================== */
#company_top {
  max-width: 1360px;
  margin: 140px auto 0 auto;

  font-size: 14px;
  #company_content {
    margin-top: 30px;
    margin-bottom: 40px;
    ul {
      width: 600px;
      dl {
        display: flex;
        justify-content: left;
        border-bottom: 1px solid rgb(187, 184, 184);
        line-height: 60px;
        &:last-child {
          margin-top: 20px;
          border-bottom: none;
          line-height: 20px;
        }
        dt {
          width: 200px;
          font-weight: normal;
          padding-left: 10px;
        }
      }
    }
  }
  p {
    margin-bottom: 20px;
  }
}

/* ============================================ */
/* ======================@media max-width900px====================== */
@media screen and (max-width: 900px) {
  /* ======================header 900px======================= */
  header {
    width: 100%;
  }

  /* ======================main 900px====================== */
  main {
    max-width: 900px;
    ul {
      box-sizing: inherit;
      justify-content: space-between;
      dl {
        width: 47%;

        dt {
          // width: 43.5%;
          img {
            box-sizing: inherit;
            width: 100%;
            height: auto;
          }
        }
        dd {
          box-sizing: inherit;
          width: 100%;
          height: auto;
          margin-top: inherit;
        }
      }
    }
  }

  /* ======================about_top 900px====================== */
  #about_top {
    max-width: 600px;

    p {
      box-sizing: inherit;
    }
    #about_content {
      width: 100%;
      height: auto;
      overflow-wrap: normal;
      p {
        box-sizing: inherit;
        width: 100%;
        word-break: break-all;
      }
    }
  }

  /* ======================company_top 900px====================== */
  #company_top {
    max-width: 600px;
  }
  #company_content {
    max-width: 600px;
    height: auto;
    overflow-wrap: normal;
    ul {
      width: unset !important;
      dl {
        flex-direction: column;
        width: 100%;
      }
    }
  }

  iframe {
    width: 100%;
  }

  /* ======================footer 900px====================== */

  footer {
    flex-direction: column;
  }

  /* ======================item1_top====================== */
  .item_content {
    .item_content_box {
      flex-direction: column;
      width: 100%;
      padding-right: 40px;
      padding-left: 40px;
      .item_content_left {
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;

        img {
          box-sizing: border-box;
          width: 100%;
          height: auto;
        }
      }
      .item_content_right {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding-left: 0;
      }
    }
  }
}
	  
.nav_bg{
	height:100vh;
	  }
